<div id="root"></div> 
<%= javascript_include_tag "Home" %>
<%= stylesheet_link_tag 'simple_calendar', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if user_signed_in? %>
  <p>ログインしています。</p>
  <a href="/your_trips" style="color: blue; text-decoration: underline;">予約内容確認</a><br>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete%>

<% else %>
  <div class="login-test">
    <p>ログインされていません。</p>
  </div>
  <a href="<%= new_user_registration_path %>" style="color: blue; text-decoration: underline;">新規登録</a>
  <a href="/users/sign_in" style="color: blue; text-decoration: underline;">ログイン</a><br>
<% end %>
<a href="/reservation" style="color: blue; text-decoration: underline;">予約する</a>




